.dm-serif-display {
    font-family: 'DM Serif Display', serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}